header {
  background: #171717;
  padding-top: 37px;
  margin-bottom: 120px;
}
body {
  padding-bottom: 238px;
}
.container {
  width: 1460px;
  margin: 0 auto;
}
.d_flex_sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  text-decoration: none;
  color: rgba(228, 181, 100, 1);
  border: 1px solid #e4b564;
  padding: 17px 25px;
}
.btn:hover {
  background-color: rgba(228, 181, 100, 1);
  color: white;
  transition: 2s;
}
.header_tel {
  display: flex;
  align-items: center;
}
.header_tel img {
  margin-right: 8px;
}
body {
  background: #171717;
}
.title {
  margin-bottom: 41px;
}
.txt {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}
.title_text {
  color: #ffffff;
  margin-bottom: 40px;
}
.section_works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 468px);
  gap: 25px;
}
.one {
  color: #ffffff;
  background: #634f2c;
}
.two {
  color: #ffffff;
  background: #b4a385;
}
.thre {
  color: #ffffff;
  background: #e4b564;
}
.d_flex_center {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.section_device {
  display: grid;
  grid-template-columns: repeat(2, 715px);
  grid-template-rows: repeat(1, 468px);
  gap: 30px;
  margin-top: 27px;
}
.device_one {
  background: #635a4a;
}
.device_two {
  background: #b08c4d;
}
.sectiont_text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}
.library_title {
  margin: 160px 0px 94px;
}
.library_grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(2, 100px 200px 100px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 30px;
  margin-bottom: 191px;
}
.library_one {
  background: #0e0e0e;
  color: #fff;
  grid-area: 1 / 1 / 3 / 4;
  padding: 44px 0px 0px 52px;
}
.library_two {
  background: #242424;
  color: #fff;
  grid-area: 1 / 4 / 4 / 7;
  padding: 44px 0px 0px 51px;
}
.library_thre {
  background: #1f1f1f;
  color: #fff;
  grid-area: 1 / 7 / 3 / 10;
  padding: 44px 0px 0px 48px;
}
.library_four {
  background: rgba(31, 31, 31, 1);
  color: #fff;
  grid-area: 3 / 1 / 7 / 4;
  padding: 56px 0px 0px 52px;
}
.library_five {
  background: #e4b564;
  color: #000000;
  grid-area: 4 / 4 / 7 / 7;
  padding: 47px 0px 0px 52px;
}
.library_six {
  background: #0e0e0e;
  color: #fff;
  grid-area: 3 / 7 / 5 / 10;
  padding: 44px 0px 0px 48px;
}
.library_seven {
  background: #0a0909;
  color: #fff;
  grid-area: 5 / 7 / 7 / 10;
  padding: 44px 0px 0px 48px;
}
.section_bg {
  background: #0e0e0e;
}
.section_btn {
  background: none;
}
.section_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 161px 0px 61px;
}
.d_flex_wrap {
  display: flex;
}
.project_one {
  background: #634f2c;
  width: 487px;
  height: 391px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project_two {
  background: rgba(232, 210, 171, 0.76);
  width: 487px;
  height: 391px;
}
.project_there {
  background: #e4b564;
  width: 487px;
  height: 391px;
}
.project_four {
  background: #635a4a;
  width: 487px;
  height: 391px;
}
.project_five {
  width: 487px;
  height: 391px;
  background: #b08c4d;
}
.btn_all_project {
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  text-decoration: none;
}
.about_project {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  padding: 16px 80px;
}
.small_text_about {
  font-size: 15px;
}
.about_project {
  display: none;
}
.about_text:hover .about_wrapper .about_project {
  display: block;
}
.about_text:hover .about_wrapper .about_project {
  display: block;
}
